  .contact th{
  height: 7rem;
  width: 150px;
}
.contact td{
  width: 480px;
}
.ques{
  transform: scale(2);
  margin-left: 117px;
}
.submit{
  transform: scale(1.8);
  color: #fff;
  background-color: #009e96;
  border: none;
  margin-left: 150px;
}
.submit:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
